@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.dancing-font{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.fitness,
.home {
  position: relative;
}
.fitness {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-style: italic;
  font-weight: 800;
  font-family: inherit;
  white-space: nowrap;
}
.home {
  text-decoration: none;
  font-size: var(--font-size-lg);
  font-weight: 600;
  font-family: var(--p1-main-regular);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 3.25rem;
}
.service-contact {
  cursor: pointer;
  border: 0;
  padding: 0.5rem var(--padding-xl);
  background-color: var(--color-tomato-200);
  border-radius: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button:hover,
.service-contact:hover {
  background-color: var(--color-tomato-100);
}
.about,
.contact,
.service {
  position: relative;
  line-height: 1.375rem;
  display: inline-block;
  min-width: 4.063rem;
}
.about,
.contact {
  min-width: 4.25rem;
}
.about {
  min-width: 3.25rem;
}
.service-contact1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.home-service-contact,
.sub-sub-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}
.home-service-contact {
  width: 29.063rem;
  border-radius: 39px;
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-11xs) var(--padding-11xs)
    var(--padding-9xs);
  gap: 2.918rem;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.sub-sub-header {
  width: 66.25rem;
  justify-content: space-between;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: 2.25rem;
  color: var(--color-tomato-200);
  font-family: var(--p1-main-regular);
}
.video-title-child {
    width: 12.875rem;
    height: 6rem;
    position: relative;
    backdrop-filter: blur(20px);
    border-radius: var(--br-xs);
    background-color: var(--color-darkslategray);
    border: 1px solid var(--color-gray-400);
    box-sizing: border-box;
    display: none;
  }
  .video-description,
  .video-tutorial {
    position: relative;
    line-height: 1.5rem;
    display: inline-block;
    z-index: 2;
  }
  .video-description {
    letter-spacing: 0.3px;
    font-weight: 900;
    min-width: 4.188rem;
  }
  .video-tutorial {
    font-size: var(--body-text-size);
    letter-spacing: 0.5px;
    color: var(--text-2);
    min-width: 6.75rem;
    white-space: nowrap;
  }
  .video-title {
    margin: 0 !important;
    position: absolute;
    right: -8.937rem;
    bottom: -1.75rem;
    backdrop-filter: blur(20px);
    border-radius: var(--br-xs);
    background-color: var(--color-darkslategray);
    border: 1px solid var(--color-gray-400);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-lg) var(--padding-xl) var(--padding-lg) 4.687rem;
    gap: 0.5rem;
    z-index: 1;
  }
  .video-tutorials-child {
    height: 11.838rem;
    width: 2.5rem;
    position: relative;
    z-index: 2;
  }
  .video-tutorials {
    margin: 0 !important;
    position: absolute;
    top: 27.163rem;
    left: 49.188rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .get-body-in {
    font-weight: 900;
  }
  .shape {
    font-family: var(--font-miama);
  }
  .stay-healthy {
    font-weight: 900;
  }
  .get-body-in-container {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    line-height: 120%;
    font-family: inherit;
  }
  .a-huge-selection {
    align-self: stretch;
    position: relative;
    font-size: var(--body-text-size);
    letter-spacing: 0.5px;
    line-height: 1.5rem;
    color: var(--color-gray-300);
  }
  .join-club-now {
    position: relative;
    font-size: var(--font-size-lg);
    line-height: 1.375rem;
    font-weight: 600;
    font-family: var(--p1-main-regular);
    color: var(--color-white);
    text-align: left;
  }
  .button {
    cursor: pointer;
    border: 0;
    padding: var(--padding-base) 2.812rem;
    background-color: var(--color-tomato-200);
    border-radius: var(--br-23xl);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    white-space: nowrap;
  }
  .download-app {
    position: relative;
    font-size: var(--font-size-lg);
    line-height: 1.375rem;
    font-weight: 600;
    font-family: var(--p1-main-regular);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    min-width: 8rem;
  }
  .button1,
  .join-download-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .button1 {
    cursor: pointer;
    border: 1px solid var(--color-white);
    padding: var(--padding-sm) 2.937rem;
    background-color: transparent;
    border-radius: var(--br-23xl);
    justify-content: center;
    white-space: nowrap;
  }
  .button1:hover {
    background-color: rgba(230, 230, 230, 0.09);
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
  }
  .join-download-buttons {
    justify-content: flex-start;
    gap: var(--gap-sm);
    max-width: 100%;
  }
